<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
   <property name="hibernate.dialect">
      org.hibernate.dialect.PostgreSQLDialect
   </property>
   <property name="hibernate.connection.driver_class">
      org.postgresql.Driver
   </property>

   <!-- Assume test is the database name -->
  
  <!--  
   <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/eventsystem</property>
   <property name="hibernate.connection.username">postgres</property>
   <property name="hibernate.connection.password">admin</property>
  -->
    
   <property name="hibernate.connection.url">jdbc:postgresql://ec2-79-125-118-221.eu-west-1.compute.amazonaws.com:5432/d8l6jat1b5v5sq?ssl=true</property>
   <property name="hibernate.connection.username">oabqgaymlrcdjf</property>
   <property name="hibernate.connection.password">a2aa59e1ad7b113c3ceb621bd227e29efab703c4ad798644c5aae11ab7ef93e1</property>
   
   <property name="show_sql">true</property>
 
	<mapping class="ipass.eventapp.entity.Vraag"/>
	<mapping class="ipass.eventapp.entity.Enquete"/>
	<mapping class="ipass.eventapp.entity.Gebruiker"/>
	<mapping class="ipass.eventapp.entity.GebruikerEvenement"/>
	<mapping class="ipass.eventapp.entity.GebruikerEvenementId"/>
	<mapping class="ipass.eventapp.entity.EvenementEnquete"/>
	<mapping class="ipass.eventapp.entity.EvenementEnqueteId"/>
	<mapping class="ipass.eventapp.entity.Evenement"/>
	

   <!-- List of XML mapping files
   <mapping resource="Employee.hbm.xml"/>
   <mapping resource="Enquete.hbm.xml"/>
   <mapping resource="Vraag.hbm.xml"/>
   -->

</session-factory>
</hibernate-configuration>